@model QX.Entity.Permission

@{
    ViewBag.Title = "Update - Permission";
    QX.Entity.Permission permission = ViewBag.Permission as QX.Entity.Permission;
}
<script>
    function Success(data) {
        alert(data.Msg);
        location.href = data.BackUrl;
    }
</script>

<div style="width:300px;margin:auto;">
    <h3>增加权限</h3>
    @using (Ajax.BeginForm("DoUpdate", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "Success", LoadingElementId = "divMsg" }, new { id = "updatePermissionForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID, new {@Value=permission.ID })
        <div class="form-group">
            权限名称
            @Html.TextBoxFor(model => model.PName, new { @Value = permission.PName })
            @Html.ValidationMessageFor(model => model.PName)
        </div>

        <div class="form-group">
            权限的域名称
            @Html.TextBoxFor(model => model.PAreaName, new { @Value = permission.PAreaName })
            @Html.ValidationMessageFor(model => model.PAreaName)
        </div>

        <div class="form-group">
            控制器名称
            @Html.TextBoxFor(model => model.PControllerName, new { @Value = permission.PControllerName })
            @Html.ValidationMessageFor(model => model.PControllerName)
        </div>

        <div class="form-group">
            方法名称
            @Html.TextBoxFor(model => model.PActionName, new {@Value=permission.PActionName })
            @Html.ValidationMessageFor(model => model.PActionName)
        </div>


        <div class="form-group">
            请求方法
            @Html.DropDownListFor(model => model.PFormMethod, ViewBag.FormLst as List<SelectListItem>)
            @Html.ValidationMessageFor(model => model.PFormMethod)
        </div>

        <div class="form-group">
            URL
            @Html.TextBoxFor(model => model.PURL, new  { @Value=permission.PURL })
            @Html.ValidationMessageFor(model => model.PURL)
        </div>

        <div class="form-group">
            是否展示
            @Html.CheckBoxFor(model => model.IsShow, new { @Checked=permission.IsShow })
            @Html.ValidationMessageFor(model => model.IsShow)
        </div>

        <div class="form-group">
            备注
            @Html.TextBoxFor(model => model.Remark, permission.Remark, new { @Value=permission.Remark})
            @Html.ValidationMessageFor(model => model.Remark)
        </div>
        <p>
            <input type="submit" class="btn btn-primary" value="修改" /> <a href="/Admin/Permission/Index">返回</a>
        </p>
    }
</div>
