@model QX.Entity.Role

@{
    ViewBag.Title = "Add";
    QX.Entity.Role role = ViewBag.Role as QX.Entity.Role;
}

<script>
    function Success(data) {
        if (data.Statu == "ok") {
            alert(data.Msg);
            location.href = data.BackUrl;
        } else {
            alert(data.Msg);
        }
    }
</script>
<div style="width:400px;margin:auto;">
    @using (Ajax.BeginForm("DoUpdate", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "Success", LoadingElementId = "divMsg" }, new { id = "addRoleForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID, new { @Value = role.ID })

        <div class="form-group">
            权限名称
            @Html.TextBoxFor(model => model.RoleName, new { @Value = role.RoleName })
            @Html.ValidationMessageFor(model => model.RoleName)
        </div>

        <div class="form-group">
            备注
            @Html.TextBoxFor(model => model.Remark, new { @Value = role.Remark })
            @Html.ValidationMessageFor(model => model.Remark)
        </div>
        <div class="form-group">
            部门
            @Html.DropDownListFor(model => model.DepartmentID, ViewBag.Departments as List<SelectListItem>, new { @Value=role.DepartmentID })
        </div>
        <div class="form-group">
            是否展示
            @Html.CheckBoxFor(model => model.IsShow, new { @checked  = role.IsShow })
            @Html.ValidationMessageFor(model => model.IsShow)
        </div>

        <p>
            <input type="submit" value="增加" class="btn btn-primary" /> <a href="/Admin/Role/Index">返回</a>
        </p>
    }

</div>
