@model QX.Entity.Department

@{
    ViewBag.Title = "Update - Department";
    QX.Entity.Department department = ViewBag.Department as QX.Entity.Department;
    
}

<script>
    function Success(data) {
        if (data.Statu == "ok") {
            alert(data.Msg);
            location.href = data.BackUrl;
        }
        else {
            alert(data.Msg);
            location.reload();
        }
    }
</script>

<div style="width:400px;margin:auto;">
    <h3>增加部门</h3>
    @using (Ajax.BeginForm("DoUpdate", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "Success", LoadingElementId = "divMsg" }, new { id = "addProjectForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID, new { @Value=department.ID })
        <div class="form-group">
            部门名称
            @Html.TextBoxFor(model => model.DepartmentName, new { @Value=department.DepartmentName })
            @Html.ValidationMessageFor(model => model.DepartmentName)
        </div>

        <div class="form-group">
            备注
            @Html.TextBoxFor(model => model.Remark, new  { @Value=department.Remark })
            @Html.ValidationMessageFor(model => model.Remark)
        </div>
        <p>
            <input type="submit" value="修改" class="btn btn-primary" /> <a href="/Admin/Department/Index">返回</a>
        </p>
    }
</div>